<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
<!-- bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean> -->
<bean id="messi" class="com.luis.beans.Jugador18">
<property name="numero" value="10"></property>
<property name="nombre" value="Lionel Messi"></property>
<property name="equipo" ref="barcelona"></property><!-- Comentar este y descomentar la libreria para ver el 
ejemplo de @Required, Tutorial 19 AnotationRequired -->

</bean>

<bean id="barcelona" class="com.luis.beans.Barcelona18"></bean>

<bean id="juventus" class="com.luis.beans.Juventus18"></bean>


</beans>
